<footer>
  <div class="footer-copyright text-center">
    <p class="mb-0 p-1">© 2020 Copyright Maral - <a href="/Legals">Legals <i class="fa fa-gavel"></i></a> - Developed by <a id="ablin" href="https://github.com/ablin42"> @ablin42</a></p>
  </div>
</footer>
</body>
</html>