<% include partials/head %>

<div class="container"> 
  <div class="form-container login-form">
    <% if(locals.totalPrice){ %>
        <%= locals.totalPrice %>
      <% } %>
  </div>

</div>
  
<% include partials/footer %>