<% include partials/head %>

<div class="full-container" id="container-landing">
	<h1 class="square-title text-center">Replicas</h1>
	<h2 class="secondary-title text-center">Check the different categories and their particularity!</h2>

	<div class="optional-title-wrapper">
		<h3 class="optional-title text-center">Go to the gallery and select the painting you want a replica of, it's that simple</h3>
		<input type="submit" class="submit-btn call-btn-small" value="Buy replicas of your choice" id="goto-gallery" />
	</div>

	<div class="container mt-0 pt-0">
		<div class="container-single catalog-wrapper col-md-12">
			<div class="row category-header mt-3">
				<h1 class="catalog-title-category-main text-center mb-3">Categories</h1>
				<div class="catalog-header-btn col-md-8 offset-md-2 mb-4">
					<button id="framed-btn" class="main-btn tab-btn active">Framed Painting</button>
					<button id="fap-btn" class="main-btn tab-btn">Fine Art Print</button>
					<button id="canvas-btn" class="main-btn tab-btn">Canvas</button>
				</div>
			</div>
			<div class="catalog-category tab col-md-12" id="framed">
				<div class="subcat-header row">
					<div class="col-md-6 p-0">
						<h1 class="catalog-title-category">Framed prints</h1>
						<h4>Handmade by Guild-recognised framers</h4>
						<p>
							Each framed print is <b>handmade</b> in the UK by our team of specialist picture framers. All picture frames are made to order; individually created from a range of popular mouldings and
							finished with <b>your choice of paper, mount and glaze.</b> We offer six standard frame types for each one of your need
						</p>
					</div>

					<div class="col-md-6 mt-2 cat-btn-wrap">
						<h4 class="text-center mb-2">Subcategories</h4>
						<div class="text-center m-0">
							<button id="box-btn" data-category="framed" class="framed cat-btn tab-btn active">Box</button>
							<button id="classic-btn" data-category="framed" class="framed cat-btn tab-btn">Classic</button>
							<button id="gloss-btn" data-category="framed" class="framed cat-btn tab-btn">Gloss</button>
							<button id="spacer-btn" data-category="framed" class="framed cat-btn tab-btn">Spacer</button>
							<button id="sur-btn" data-category="framed" class="framed cat-btn tab-btn">Surface</button>
							<button id="swoop-btn" data-category="framed" class="framed cat-btn tab-btn">Swoop</button>
						</div>
					</div>
					<input type="submit" class="submit-btn call-btn-small ml-0" value="Go to Paper Types" id="goto-papers" />
				</div>

				<div class="row pb-0 m-0">
					<div class="catalog-subcategory framed sub-toggle" id="box">
						<h1 class="catalog-title-category">Box Frame</h1>
						<h4>A modern design adding depth to your pictures</h4>
						<p class="col-md-8 pl-0">
							Our <b>box frame</b> is milled from solid ash, hand-stained by our team and finished with a specialist wax to accentuate the grain. <br />
							The frame has a <b>box profile</b> measuring <b>20mm</b> (front face) by <b>33mm</b> (depth from wall). Available in <b>black, white, brown or natural.</b>
						</p>

						<div class="row">
							<div class="col-md-6 text-center mt-5">
								<img alt="Catalog Image - Framed Box Cut" src="/img/framed-box-cut.png" />
							</div>
							<div class="col-md-6 p-0">
								<h4>Highlights</h4>
								<ul>
									<li>Classic deep frame</li>
									<li>Solid ash with hand-stained finish</li>
									<li>Custom mount, cut perfectly to your image</li>
									<li>Delivered fully strung ready for hanging</li>
									<li>Available in multiple sizes</li>
								</ul>

								<div class="catalog-colors">
									<h4>Mount colours</h4>
									<p>
										Our standard mounts are available at depths of <b>1.4mm</b> or <b>2.0mm</b>. All mounts are "conservation grade", <b>FSC certified, 100% acid free</b>, and will not discolour or
										fade with age.
									</p>
									<ul class="mounts">
										<li class="mount"><span class="mount-color mount-white"></span><span class="mount-label">White</span></li>
										<li class="mount"><span class="mount-color mount-offwhite"></span><span class="mount-label">Off-white</span></li>
										<li class="mount"><span class="mount-color mount-black"></span><span class="mount-label">Black</span></li>
									</ul>
								</div>
							</div>
						</div>

						<h4>Framing glaze</h4>
						<span class="ml-1 mb-2">We support a choice of three different types of glaze for finishing your framed pictures</span>
						<ul>
							<li>2mm water-white <b>float glass</b></li>
							<li>Clear acrylic <b>plexiglass</b></li>
							<li>Invisible <b>museum glass</b></li>
						</ul>
						<p class="no-indent catalog-glass ml-2">
							<b>Float glass</b> is the standard industry glaze used in most framed pictures. <br />
							<b>Plexiglass</b> provides increased UV protection, is extremely robust and offers less glare than float glass. Works well in larger sizes. <br />
							<b>Invisible museum glass</b> offers the clearest possible glazing option. The glaze has very low reflective properties, appearing as though no glass is present in the picture. It
							creates genuinely stunning results and is perfect for prestige exhibitions, high-value commissions or premium interior design projects.
						</p>

						<img class="w-100" src="/img/glaze.jpg" />
						<div class="text-center w-100"><b>Invisible low-reflective museum glass versus standard float glass</b></div>

						<h4 class="mt-3">Examples</h4>
						<img alt="Catalog Example - Framed Box Black Frame Snow Mount" class="w-100" src="/img/framed-box-1.jpg" />
						<div class="text-center w-100"><b>Our box framed print, using a black frame and snow white mount</b></div>

						<img alt="Catalog Example - Framed Box Frame Colours" class="w-100" src="/img/framed-box-2.jpg" />
						<div class="text-center w-100"><b>Black, white, brown and natural box frame available</b></div>

						<img alt="Catalog Example - Framed Box Mount Options" class="w-100" src="/img/framed-box-3.jpg" />
						<div class="text-center w-100"><b>Also available with a full-bleed/no-mount option</b></div>

						<img alt="Catalog Example - Framed Box Solid Ash Frame" class="w-100" src="/img/framed-box-4.jpg" />
						<div class="text-center w-100"><b>Solid ash frame</b></div>
					</div>

					<div class="catalog-subcategory framed sub-toggle nodisplay" id="classic">
						<h1 class="catalog-title-category">Classic Frame</h1>
						<h4>Our most popular picture frame</h4>
						<p class="col-md-8 pl-0">
							Created from <b>high-quality wood</b>, milled with simple clean lines and presented with a <b>satin finish.</b><br />
							This frame has a square profile measuring <b>20mm</b> (front face) by <b>23mm</b> (depth from wall). Available in <b>black, white, brown, silver, gold or natural.</b>
						</p>

						<div class="row">
							<div class="col-md-6 text-center mt-5">
								<img alt="Catalog Image - Framed Classic" src="/img/framed-cla-cut.png" />
							</div>

							<div class="col-md-6 p-0">
								<h4>Highlights</h4>
								<ul>
									<li>Eternally popular simple, elegant design</li>
									<li>Custom mount, cut perfectly to your image</li>
									<li>Delivered fully strung ready for hanging</li>
									<li>Choice of colours, including gilts</li>
									<li>Available in multiple sizes</li>
								</ul>

								<div class="catalog-colors">
									<h4>Mount colours</h4>
									<p>
										Our standard mounts are available at depths of <b>1.4mm</b> or <b>2.0mm.</b> All mounts are "conservation grade", <b>FSC certified, 100% acid free</b>, and will not discolour or
										fade with age.
									</p>
									<ul class="mounts">
										<li class="mount"><span class="mount-color mount-white"></span><span class="mount-label">White</span></li>
										<li class="mount"><span class="mount-color mount-offwhite"></span><span class="mount-label">Off-white</span></li>
										<li class="mount"><span class="mount-color mount-black"></span><span class="mount-label">Black</span></li>
									</ul>
								</div>
							</div>
						</div>

						<h4>Framing glaze</h4>
						<span class="ml-1 mb-2">We support a choice of three different types of glaze for finishing your framed pictures</span>
						<ul>
							<li>2mm water-white <b>float glass</b></li>
							<li>Clear acrylic <b>plexiglass</b></li>
							<li>Invisible <b>museum glass</b></li>
						</ul>
						<p class="no-indent catalog-glass ml-2">
							<b>Float glass</b> is the standard industry glaze used in most framed pictures. <br />
							<b>Plexiglass</b> provides increased UV protection, is extremely robust and offers less glare than float glass. Works well in larger sizes. <br />
							<b>Invisible museum glass</b> offers the clearest possible glazing option. The glaze has very low reflective properties, appearing as though no glass is present in the picture. It
							creates genuinely stunning results and is perfect for prestige exhibitions, high-value commissions or premium interior design projects.
						</p>
						<img alt="Catalog Examples - Framed Classic Glaze" class="w-100" src="/img/glaze.jpg" />
						<div class="text-center w-100"><b>Invisible low-reflective museum glass versus standard float glass</b></div>

						<h4 class="mt-3">Examples</h4>
						<img alt="Catalog Example - Framed Classic Black Frame" class="w-100" src="/img/framed-cla-1.jpg" />
						<div class="text-center w-100"><b>Our classic frame in black</b></div>

						<img alt="Catalog Example - Framed Classic Satin Finish" class="w-100" src="/img/framed-cla-2.jpg" />
						<div class="text-center w-100"><b>Satin finish and clean-milled lines</b></div>

						<img alt="Catalog Example - Framed Classic Colours" class="w-100" src="/img/framed-cla-3.jpg" />
						<div class="text-center w-100"><b>Our classic frame colour range</b></div>

						<img alt="Catalog Example - Framed Classic Snow White Mount" class="w-100" src="/img/framed-cla-4.jpg" />
						<div class="text-center w-100"><b>Classic frame with a snow white mount</b></div>
					</div>

					<div class="catalog-subcategory framed sub-toggle nodisplay" id="gloss">
						<h1 class="catalog-title-category">Gloss Frame</h1>
						<h4>Full-bleed pictures with a thin stylish profile</h4>
						<p class="col-md-8 pl-0">
							The Gloss frame has a <b>high-shine, lacquered finish</b> creating a highly sophisticated look. <br />The profile has a <b>subtle curve</b> and measures <b>39mm</b> wide (front face) by
							<b>25mm</b> deep (depth from wall). Available in <b>black</b> or <b>white.</b>
						</p>

						<div class="row">
							<div class="col-md-6 text-center mt-5">
								<img alt="Catalog Image - Framed Gloss" src="/img/framed-glo-cut.png" />
							</div>

							<div class="col-md-6 p-0">
								<h4>Highlights</h4>
								<ul>
									<li>High-quality finish suited to luxury interiors</li>
									<li>Perfect for colour and black & white photography</li>
									<li>Delivered fully strung, ready for hanging</li>
									<li>Available in multiple sizes</li>
								</ul>

								<h4>Framing glaze</h4>
								<p class="no-indent catalog-glass ml-2">
									Only one choice available for this item: <b>Clear acrylic plexiglass.</b> Plexiglass provides increased UV protection, is <b>extremely robust</b> and offers <b>less glare</b> than
									float glass.
								</p>
							</div>

							<h4 class="mt-3">Examples</h4>
							<img alt="Catalog Example - Framed Gloss White" class="w-100" src="/img/framed-glo-1.jpg" />
							<div class="text-center w-100"><b>Our gloss frame in white</b></div>

							<img alt="Catalog Example - Framed Gloss Edge" class="w-100" src="/img/framed-glo-2.jpg" />
							<div class="text-center w-100"><b>Subtle curve with a straight edge 15mm deep</b></div>

							<img alt="Catalog Example - Framed Gloss Finish" class="w-100" src="/img/framed-glo-3.jpg" />
							<div class="text-center w-100"><b>High-shine, lacquered finish</b></div>

							<img alt="Catalog Example - Framed Gloss Mount" class="w-100" src="/img/framed-glo-4.jpg" />
							<div class="text-center w-100"><b>The gloss frame is also available with a full-bleed/no-mount option</b></div>
						</div>
					</div>
				</div>

				<div class="catalog-subcategory framed sub-toggle nodisplay" id="spacer">
					<h1 class="catalog-title-category">Spacer Frame</h1>
					<h4>A contemporary twist on the traditional box frame</h4>
					<p class="col-md-8 pl-0">
						The Spacer frame has a deep fillet to create <b>additional depth</b> for displaying artworks or photographs. Prints are typically <b>back-mounted</b>, rather than a traditional front
						mount, creating a modern contemporary look. <br />
						The Spacer uses our solid ash box frame which has a box profile measuring <b>20mm</b> (front face) by <b>33mm</b> (depth from wall). Available in <b>black</b> or <b>white.</b>
					</p>
					<div class="row">
						<div class="col-md-6 text-center mt-5">
							<img alt="Catalog Image - Framed Spacer" src="/img/framed-spa-cut.png" />
						</div>

						<div class="col-md-6 p-0">
							<h4>Highlights</h4>
							<ul>
								<li>Contemporary finish suited to back mounted prints</li>
								<li>Solid Ash with hand stained finish</li>
								<li>Delivered fully strung, ready for hanging</li>
								<li>Available in multiple sizes</li>
							</ul>
						</div>
					</div>

					<h4>Framing glaze</h4>
					<span class="ml-1 mb-2">We support a choice of three different types of glaze for finishing your framed pictures</span>
					<ul>
						<li>2mm water-white <b>float glass</b></li>
						<li>Clear acrylic <b>plexiglass</b></li>
						<li>Invisible <b>museum glass</b></li>
					</ul>
					<p class="no-indent catalog-glass ml-2">
						<b>Float glass</b> is the standard industry glaze used in most framed pictures. <br />
						<b>Plexiglass</b> provides increased UV protection, is extremely robust and offers less glare than float glass. Works well in larger sizes. <br />
						<b>Invisible museum glass</b> offers the clearest possible glazing option. The glaze has very low reflective properties, appearing as though no glass is present in the picture. It creates
						genuinely stunning results and is perfect for prestige exhibitions, high-value commissions or premium interior design projects.
					</p>

					<img alt="Catalog Example - Glaze" class="w-100" src="/img/glaze.jpg" />
					<div class="text-center w-100"><b>Invisible low-reflective museum glass versus standard float glass</b></div>

					<h4 class="mt-3">Examples</h4>
					<img alt="Catalog Example - Framed Spacer White" class="w-100" src="/img/framed-spa-1.jpg" />
					<div class="text-center w-100"><b>Our white spacer frame</b></div>

					<img alt="Catalog Example - Framed Spacer Back Mounted" class="w-100" src="/img/framed-spa-2.jpg" />
					<div class="text-center w-100"><b>Back-mounting of the spacer frame</b></div>

					<img alt="Catalog Example - Framed Spacer Grain" class="w-100" src="/img/framed-spa-3.jpg" />
					<div class="text-center w-100"><b>Subtle wood grain</b></div>

					<img alt="Catalog Example - Framed Spacer Edge" class="w-100" src="/img/framed-spa-4.jpg" />
					<div class="text-center w-100"><b>Our spacer frame is 33mm deep</b></div>
				</div>

				<div class="catalog-subcategory framed sub-toggle nodisplay" id="sur">
					<h1 class="catalog-title-category">Surface Frame</h1>
					<h4>Full-bleed pictures with a thin stylish profile</h4>
					<p class="col-md-8 pl-0">
						The Surface frame provides a <b>subtle</b>, contemporary surround. The frame is <b>very thin</b>, has a <b>smooth satin texture</b> and comes <b>unglazed</b>, with the image front mounted
						flush to the surface edge. <br />
						Measures <b>5mm</b> wide (front face) by <b>30mm</b> or <b>50mm deep</b> (depth from wall). Available in <b>black</b> or <b>white.</b>
					</p>
					<div class="row">
						<div class="col-md-6 text-center mt-5">
							<img alt="Catalog Image - Framed Surface" src="/img/framed-sur-cut.png" />
						</div>

						<div class="col-md-6 p-0">
							<h4>Highlights</h4>
							<ul>
								<li>Exceptional value</li>
								<li>Solid pine with a smooth satin finish</li>
								<li>Delivered fully strung, ready for hanging</li>
								<li>Available in multiple sizes</li>
							</ul>
						</div>

						<h4 class="mt-3">Examples</h4>
						<img alt="Catalog Example - Framed Surface White" class="w-100" src="/img/framed-sur-1.jpg" />
						<div class="text-center w-100"><b>Our white surface frame</b></div>

						<img alt="Catalog Example - Framed Surface Texture and Edge" class="w-100" src="/img/framed-sur-2.jpg" />
						<div class="text-center w-100"><b>Smooth satin texture, with a depth of either 30 or 50mm</b></div>

						<img alt="Catalog Example - Framed Surface Sizes" class="w-100" src="/img/framed-sur-3.jpg" />
						<div class="text-center w-100"><b>Available in sizes up to 44x32"</b></div>

						<img alt="Catalog Example - Framed Surface Mount and No Glaze" class="w-100" src="/img/framed-sur-4.jpg" />
						<div class="text-center w-100"><b>The image is front-mounted with no glazing</b></div>
					</div>
				</div>

				<div class="catalog-subcategory framed sub-toggle nodisplay" id="swoop">
					<h1 class="catalog-title-category">Swoop Frame</h1>
					<h4>Curved profile draws attention to your image</h4>
					<p class="col-md-8 pl-0">
						A solid <b>pine frame</b> with a <b>decorative curved profile</b> and a <b>smooth, satin finish.</b><br />The Swoop is solid, shapely and creates real impact. Measures <b>45mm</b> wide
						(front face) by <b>32mm</b> deep (depth from wall). Available in <b>black</b> or <b>white.</b>
					</p>
					<div class="row">
						<div class="col-md-6 text-center mt-5">
							<img alt="Catalog Image - Framed Swoop" src="/img/framed-swo-cut.png" />
						</div>

						<div class="col-md-6 p-0">
							<h4>Highlights</h4>
							<ul>
								<li>Flush surface mount</li>
								<li>Matt, gloss or satin laminated finish for added protection</li>
								<li>Lightweight and robust</li>
								<li>Delivered fully strung, ready for hanging</li>
								<li>Available in multiple sizes</li>
							</ul>

							<div class="catalog-colors">
								<p>
									Our standard mounts are available at depths of <b>1.4mm</b> or <b>2.0mm.</b> All mounts are "conservation grade", <b>FSC certified, 100% acid free</b>, and will not discolour or fade
									with age.
								</p>
								<ul class="mounts">
									<li class="mount"><span class="mount-color mount-white"></span><span class="mount-label">White</span></li>
									<li class="mount"><span class="mount-color mount-offwhite"></span><span class="mount-label">Off-white</span></li>
									<li class="mount"><span class="mount-color mount-black"></span><span class="mount-label">Black</span></li>
								</ul>
							</div>
						</div>

						<h4>Framing glaze</h4>
						<p class="no-indent catalog-glass ml-2">
							Only one choice available for this item: <b>Clear acrylic plexiglass.</b> Plexiglass provides increased UV protection, is <b>extremely robust</b> and offers <b>less glare</b> than float
							glass.
						</p>

						<h4 class="mt-3">Examples</h4>
						<img alt="Catalog Example - Framed Swoop White" class="w-100" src="/img/framed-swo-1.jpg" />
						<div class="text-center w-100"><b>Our white swoop frame</b></div>

						<img alt="Catalog Example - Framed Swoop Snow Xhite Mount" class="w-100" src="/img/framed-swo-2.jpg" />
						<div class="text-center w-100"><b>White swoop frame with snow white mount</b></div>

						<img alt="Catalog Example - Framed Swoop Finish" class="w-100" src="/img/framed-swo-3.jpg" />
						<div class="text-center w-100"><b>The smooth satin surface finish of the swoop frame</b></div>

						<img alt="Catalog Example - Framed Swoop Black" class="w-100" src="/img/framed-swo-4.jpg" />
						<div class="text-center w-100"><b>Our swoop framed print in black</b></div>
					</div>
				</div>
				<h4 class="mt-3" id="framed-papers">Paper Types</h4>
				<div class="row">
					<div class="catalog-substrate-item col-4">
						<img alt="Catalog Paper - Budget Art Paper" class="w-100" src="/img/fine-art-1.jpg" />
						<b>Budget Art Paper</b>

						<p>An affordable barrier coated poster paper perfect for volume projects requiring the best quality art substrate at the most <b>competitive price</b>.</p>
					</div>

					<div class="catalog-substrate-item col-4">
						<img alt="Catalog Paper - Enhanced Matte Art" class="w-100" src="/img/fine-art-2.jpg" />
						<b>Enhanced Matte Art</b><br />

						<p>
							A <b>premium-quality</b> heavyweight fine art print material with a <b>smooth, clean finish.</b> This museum-quality paper is <b>extremely consistent</b> and works perfectly with large,
							full colour graphics or illustrations. The <b>matte finish</b> emphasises different highlights and tones in the source artworks; helping to create stunning works of art.
						</p>
					</div>

					<div class="catalog-substrate-item col-4">
						<img alt="Catalog Paper - Smooth Art Paper" class="w-100" src="/img/fine-art-3.jpg" />
						<b>Smooth Art Paper</b><br />

						<p>
							A <b>high-quality</b>, smooth <b>matt paper</b> with a light, <b>fine-grain surface texture.</b> This paper is particularly suited to contemporary illustration and photography. Image
							replica is <b>sharp, crisp and vibrant</b>, with great density and vivid colours.
						</p>
					</div>

					<div class="catalog-substrate-item col-4">
						<img alt="Catalog Paper - Museum Fine Art" class="w-100" src="/img/fine-art-4.jpg" />
						<b>Museum Fine Art</b><br />

						<p>
							A <b>gently textured</b> etching paper designed for <b>museum-quality</b> replicas. This beautiful and versatile art paper is particularly suited to giclée replicas of artworks and
							paintings. Ideal for premium colour and monochrome prints.
						</p>
					</div>

					<div class="catalog-substrate-item col-4">
						<img alt="Catalog Paper - Cold Press Watercolour Paper" class="w-100" src="/img/fine-art-6.jpg" />
						<b>Cold Press Watercolour Paper</b><br />

						<p>
							A <b>rough-textured</b>, coarse-structured surface designed for <b>high-quality</b> art and photographic replicas using giclée techniques. Particularly well suited to reproducing
							collages and graphic illustrations featuring solid blocks of colour.
						</p>
					</div>

					<div class="catalog-substrate-item col-4">
						<img alt="Catalog Paper - Hahnemühle German Etching" class="w-100" src="/img/fine-art-7.jpg" />
						<b>Hahnemühle German Etching</b><br />

						<p>
							A heavy-duty paper with a <b>more textured finish</b>, the velvety <b>matt surface</b> is optimised for high-contrast prints and works brilliantly for limited editions. The paper has a
							<b>warm white</b> hue providing a perfect surface for reproducing paintings, lithographs and fine art photography.
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="catalog-category tab col-md-12 nodisplay" id="fap">
			<div class="subcat-header row">
				<div class="col-md-8 p-0">
					<h1 class="catalog-title-category">Fine Art Prints</h1>
					<h4>Specialist art papers</h4>
					<p>
						Printing is at the heart of everything we do and every product we create.<br />Each fine art print substrate is <b>individually profiled</b> for our printers, ensuring fantastically
						<b>accurate</b> and <b>consistent replicas.</b><br />
						In addition to our advanced in-house technology, we only partner with the world’s best fine art print labs; ensuring your art and photographs are always printed with the detail and
						vibrancy they deserve.
					</p>
				</div>
			</div>

			<div class="catalog-subcategory pt-3">
				<div class="row m-0">
					<div class="catalog-substrate-item offset-2 col-4 pl-0">
						<h4>Budget fine art paper</h4>

						<img alt="Catalog Paper - Fine Art Print - Enhanced Matte Art" class="w-100" src="/img/fine-art-2.jpg" />
						<b>Enhanced Matte Art</b><br />

						<p>
							A <b>premium-quality</b> heavyweight fine art print material with a <b>smooth, clean finish.</b> This museum-quality paper is <b>extremely consistent</b> and works perfectly with large,
							full colour graphics or illustrations. The <b>matte finish</b> emphasises different highlights and tones in the source artworks; helping to create stunning works of art.
						</p>
					</div>

					<div class="catalog-substrate-item col-4 pr-0">
						<h4>Premium fine art paper</h4>
						<img alt="Catalog Paper - Fine Art Print - Hahnemühle German Etching" class="w-100" src="/img/fine-art-7.jpg" />
						<b>Hahnemühle German Etching</b><br />

						<p>
							A heavy-duty paper with a <b>more textured finish</b>, the velvety <b>matt surface</b> is optimised for high-contrast prints and works brilliantly for limited editions. The paper has a
							<b>warm white</b> hue providing a perfect surface for reproducing paintings, lithographs and fine art photography.
						</p>
					</div>
				</div>

				<h4 class="mt-3">Examples</h4>
				<img alt="Catalog Example - Fine Art Print" class="w-100" src="/img/fine-art-8.jpg" />
				<div class="text-center w-100"><b>Fine Art Print</b></div>

				<img alt="Catalog Example - Fine Art Print" class="w-100" src="/img/smooth-art-paper.jpg" />
				<div class="text-center w-100"><b>Fine Art Print</b></div>

				<img alt="Catalog Example - Budget Art Paper" class="w-100" src="/img/budget-detail.jpg" />
				<div class="text-center w-100"><b>Budget Art Paper</b></div>

				<img alt="Catalog Example - Museum Fine Art" class="w-100" src="/img/museum-fine-art.jpg" />
				<div class="text-center w-100"><b>Museum Fine Art</b></div>
			</div>
		</div>

		<div class="catalog-category tab col-md-12 nodisplay" id="canvas">
			<div class="subcat-header row">
				<div class="col-md-6 p-0">
					<h1 class="catalog-title-category mt-0">Canvas</h1>
					<h4 class="mt-0">Handmade by canvas craftsmen</h4>
					<p>
						Our <b>enduringly popular</b> fine art canvases transform any image into a beautiful work of art.<br />
						Each canvas is produced using a <b>12-colour giclée</b> fine art printing process and <b>hand finished</b> by one of the UK’s most experienced canvas framing teams.
					</p>
				</div>

				<div class="col-md-6 mt-2 cat-btn-wrap">
					<h4 class="text-center mb-2">Subcategories</h4>
					<div class="text-center m-0">
						<button id="stretched-btn" data-category="canvas" class="canvas cat-btn tab-btn active">Stretched</button>
						<button id="framed-canvas-btn" data-category="canvas" class="canvas cat-btn tab-btn">Framed</button>
					</div>
				</div>
			</div>

			<div class="row m-0">
				<div class="catalog-subcategory canvas sub-toggle p-0 mt-2 nodisplay" id="framed-canvas">
					<h1 class="catalog-title-category">Framed Canvas</h1>
					<h4>Transform a standard canvas into a special work of art</h4>
					<p class="col-md-8 pl-0">
						A <b><i>stretched canvas</i></b> comes with an <b>internal frame</b> created using specialist canvas <b>stretcher bars.</b> <br />
						In addition, a framed canvas has a <b>traditional picture frame</b> added around the outside edge of the canvas. <br />
						The simple addition of a <b>wooden picture frame</b> creates a completely new form of wall art; quite distinct to a standard stretched canvas.
					</p>

					<div class="row mt-3">
						<div class="col-md-5 offset-md-1">
							<img alt="Catalog Image - Framed Canvas" class="w-100" src="/img/canvas-framed-2.jpg" />
						</div>
						<div class="col-md-5 p-0 pt-5">
							<div class="text-center w-100"><h3>38mm framed canvas</h3></div>
							<p>
								Adding a <b>solid wooden float frame</b> to our standard <b>38mm</b> canvas creates a unique and original work of art. The <b>thin</b> frame sits approximately <b>5mm</b> from the edge
								of the canvas helping create a floating border. Highly recommended for images that make a real statement. The canvas float frame is available in <b>black</b> only for now.
							</p>

							<h4 class="mt-3 text-center">Basically a stretched canvas put into a frame...</h4>
							<button id="stretched-btn-call" data-category="canvas" class="canvas tab-btn w-100">See stretched canvas details</button>
						</div>
					</div>

					<h4 class="mt-3">Examples</h4>
					<img alt="Catalog Example - Framed Canvas" class="w-100" src="/img/canvas-framed-7.jpg" />
					<div class="text-center w-100"><b>An example of our float frame with a 38mm-deep canvas</b></div>

					<img alt="Catalog Example - Framed Canvas" class="w-100" src="/img/canvas-framed-8.jpg" />
					<div class="text-center w-100"><b>The "floating border" created by the frame sits approximately 5mm from the canvas edge</b></div>
				</div>

				<div class="catalog-subcategory canvas sub-toggle p-0 mt-2" id="stretched">
					<h1 class="catalog-title-category">Stretched Canvas</h1>
					<h4>Superior canvas prints</h4>
					<p>
						Each stretched canvas begins with a <b>12-colour giclée print</b> produced from one of three individually <b>curated substrates.</b> <br />
						We then make a <b>custom wooden frame</b> and <b>stretch</b> the rolled canvas print over it.<br />
						The stretched canvas print is then <b>hand finished</b> by one of the UK’s most experienced canvas framing teams; ensuring each corner fold is <b>perfectly smooth</b>, tight and that all
						fixing staples are covered with special protective tape.
					</p>

					<h4 class="mb-1">Canvas Stretcher Bars</h4>
					<div class="w-100"><b>European knotless pine canvas frames</b></div>
					<p class="no-indent ml-2">The thickness of your canvas stretcher bar determines how far the canvas print will stand off the wall.</p>
					<div class="row">
						<div class="col-md-6">
							<img alt="Catalog Image - Stretched Canvas" class="w-100" src="/img/canvas-stretched-2.jpg" />
						</div>

						<div class="col-md-6 mt-5">
							<h3 class="text-center">38mm stretched canvas</h3>
							<p>
								Each canvas frame is milled with a <b>curved profile</b>; minimising contact with the face of the canvas; preventing unsightly impression marks and surface cracking. <br />
								We use <b>finger-jointed</b> canvas frames which create corner tension helping <b>resist warping.</b> <br />
								For larger sizes, we add wooden 'wedges' to each corner; <b>ensuring the canvas surface remains taut</b> and allowing easy re-stretching in future years.
							</p>

							<h4 class="text-center mt-2">Highlights</h4>
							<ul>
								<li>Pro-lab print process with 100+ year colour guarantee</li>
								<li>Four canvas edge finishing options (black, white, image wrap, mirror wrap)</li>
								<li>Professional artist stretcher bars milled from the finest quality European kiln-dried knotless pine</li>
								<li>Tensioning 'wedges' and finger joints</li>
							</ul>
						</div>
					</div>

					<h4 class="mt-5">Canvas Material</h4>
					<p class="col-md-8 pl-0">
						Our canvas is a <b>finely textured</b> artist-grade <b>cotton substrate</b> which consistently reproduces image details with outstanding <b>clarity and detail.</b> <br />Our most popular
						canvas and superior to many more expensive branded alternatives.
					</p>

					<h4 class="mb-1">Canvas finishes</h4>
					<b>A choice of edge profile</b>

					<div class="row mt-2">
						<div class="col-lg-4 offset-lg-2 col-6 text-center">
							<img alt="Catalog Attribute - Canvas Wrap White Edge" class="w-100" src="/img/canvas-stretched-4.jpg" />
							<div class="text-center w-100"><b>White edge Also called museum wrap.</b></div>
						</div>

						<div class="col-lg-4 col-6 text-center">
							<img alt="Catalog Attribute - Canvas Wrap Black Edge" class="w-100" src="/img/canvas-stretched-5.jpg" />
							<div class="text-center w-100"><b>Black edge</b></div>
						</div>

						<div class="col-lg-4 offset-lg-2 col-6 text-center">
							<img alt="Catalog Attribute - Canvas Image Wrap" class="w-100" src="/img/canvas-stretched-6.jpg" />
							<div class="text-center w-100"><b>Image wrap. Image wraps around the sides of the frame.</b></div>
						</div>

						<div class="col-lg-4 col-6 text-center">
							<img alt="Catalog Attribute - Canvas Mirror Wrap" class="w-100" src="/img/canvas-stretched-7.jpg" />
							<div class="text-center w-100"><b>Mirror wrap. Image edge reflected on the sides; entire image appears on the front.</b></div>
						</div>
					</div>

					<h4 class="mb-1">Canvas coatings</h4>
					<b>Preserve the integrity of your print</b>

					<p class="col-md-8 pl-0">
						All our canvas prints can be finished with a <b>matt</b> or <b>gloss varnish coating.</b> <br />
						Varnishes help to <b>preserve the integrity</b> of your canvas image, protecting against airborne <b>dirt/dust, sun fade, abrasions and fingerprints</b>
					</p>

					<h4 class="mt-3">Examples</h4>
					<img alt="Canvas Example - Image Wrap " class="w-100" src="/img/canvas-stretched-8.jpg" />
					<div class="text-center w-100"><b>Image-wrap canvas</b></div>

					<img alt="Canvas Example - Stretcher Bars" class="w-100" src="/img/canvas-stretched-9.jpg" />
					<div class="text-center w-100"><b>Professional artist stretcher bars</b></div>

					<img alt="Canvas Example - Depth" class="w-100" src="/img/canvas-stretched-10.jpg" />
					<div class="text-center w-100"><b>Stretched canvases are only available in 38mm depths for now (middle one)</b></div>

					<img alt="Canvas Example - Joints" class="w-100" src="/img/canvas-stretched-11.jpg" />
					<div class="text-center w-100"><b>Tensioning wedges and finger joints</b></div>

					<img alt="Canvas Example - White edge" class="w-100" src="/img/canvas-stretched-12.jpg" />
					<div class="text-center w-100"><b>White-edged stretched canvas</b></div>

					<img alt="Canvas Example - Corners" class="w-100" src="/img/canvas-stretched-13.jpg" />
					<div class="text-center w-100"><b>Hand-finished tight corners</b></div>

					<img alt="Canvas Example - Wrap and Image" class="w-100" src="/img/canvas-stretched-14.jpg" />
					<div class="text-center w-100"><b>Examples of image and black edge wraps</b></div>
				</div>
			</div>
		</div>
	</div>
	<% include partials/footer %>
</div>

<script src="/scripts/catalogTabs.js"></script>
