<% include partials/head %>

<div class="container container-single">
	<div class="single-wrapper">
		<div class="col-10 offset-1"></div>
	</div>
</div>

<a class="lightbox-close" href="#close">
	<div class="lightbox-target" id="expand">
		<img id="expandImg" src="" />
	</div>
</a>

<% include partials/footer %>
