<% include partials/head %>

<div class="container"> 
  <div class="form-container contact-form">
    <form id="checkout" method="POST" action="/api/cart/checkout" >
        <h1 class="form-title">CHECKOUT</h1>
        <div class="bottom-text">
            <% if (locals.total) { %>
                <%= locals.total %>€
            <% } %>
        </div>
        <div id="charge-error" class="text-center alert alert-warning hidden">

        </div>
        <div class="txtb">
            <input type="text" name="name" id="name" required>
            <span data-placeholder="Name"></span>
            <span id="i_name" class="form-info">Name must contain between 4 and 30 characters</span>
        </div>
        
        <div class="txtb">
            <input type="adress" name="adress" id="adress" required>
            <span data-placeholder="Adress"></span>
            <span id="i_adress" class="form-info">Adress has to be valid</span>
        </div>
        
        <div class="txtb">
            <input type="text" name="card-holder-name" id="card-holder-name" required>
            <span data-placeholder="Card Holder Name"></span>
            <span id="i_card-holder-name" class="form-info">Card holder name format</span>
        </div>

        <div class="txtb">
            <input type="text" name="credit-card-number" id="credit-card-number" required>
            <span data-placeholder="Credit Card Number"></span>
            <span id="i_credit-card-number" class="form-info">Credit Card Number format</span>
        </div>

        <div class="txtb">
            <input type="text" name="expiration-month" id="expiration-month" required>
            <span data-placeholder="Expiration Month"></span>
            <span id="i_expiration-month" class="form-info">expiration-month format</span>
        </div>
        <div class="txtb">
            <input type="text" name="expiration-year" id="expiration-year" required>
            <span data-placeholder="Expiration Year"></span>
            <span id="i_expiration-year" class="form-info">expiration-year format</span>
        </div>

        <div class="txtb">
            <input type="text" name="CVC" id="CVC" required>
            <span data-placeholder="CVC"></span>
            <span id="i_CVC" class="form-info">CVC format</span>
        </div>

        <input type="submit" class="logbtn" value="Buy" id="submit-checkout">
    </form>
    <hr />
    <div class="bottom-text mt-4">
        bottom text
    </div>
</div>
<!--<script src="https://js.stripe.com/v3/"></script>
<script src="/scripts/checkout.js"></script>-->
<script src="/scripts/formFocus.js"></script>
<script src="/scripts/frontValidation.js"></script>
</div>
  
<% include partials/footer %>