<% include partials/head %>

<div class="container-fluid"> 
    <div class="login-form contact-form col-6">
        <form id="contact" method="POST" action="/api/contact/" >
            <h1 class="form-title">Nous contacter</h1>
            <div class="bottom-text">
                Nous avons besoin de votre email pour pouvoir vous répondre, et le nom d'utilisateur est à titre indicatif
            </div>
            <div class="txtb">
                <input type="text" name="name" id="name" onkeyup="Validate.Username(this);" value="<% if (locals.name) { %><%= locals.name %><% } %>" required>
                <span data-placeholder="Username"></span>
                <span id="i_name" class="form-info">Username must contain between 4 and 30 characters</span>
            </div>
            
            <div class="txtb">
                <input type="email" name="email" id="email" onkeyup="Validate.Email(this);" value="<% if (locals.email) { %><%= locals.email %><% } %>" required>
                <span data-placeholder="Email"></span>
                <span id="i_email" class="form-info">E-mail has to be valid</span>
            </div>
            
            <div class="txtb">
                <input type="text" name="title" id="title" onkeyup="Validate.String(this, 10, 256);" required>
                <span data-placeholder="Mail Title"></span>
                <span id="i_title" class="form-info">Title must contain between 10 and 256 characters</span>
            </div>

            <textarea id="content" onkeyup="Validate.String(this, 64, 2048);" class="blog-textarea" name="content" placeholder="Whatever you wish to tell us..." required></textarea>
            <span id="i_content" class="form-info">Content must contain between 64 and 2048 characters</span>
            
            <input type="submit" class="logbtn" value="Envoyer" id="submit-contact">
        </form>
        <hr />
        <div class="bottom-text mt-4">
            Sinon, vous pouvez nous envoyer un mail directement à l'adresse <b>Maral.canvas@gmail.com</b>
        </div>
    </div>
    <script src="/scripts/formFocus.js"></script>
    <script src="/scripts/frontValidation.js"></script>
</div>
  
<% include partials/footer %>