<% include partials/head %>

<div class="container-fluid">
    <div class="container">
        <div class="card" style="width: 18rem;">
            <img src="img/dieu.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><i>Oeil de dieu</i></h5>
              <p class="card-text"><a href="#">#bleu</a> </p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="img/dieu.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Oeil de dieu</h5>
              <p class="card-text"><a href="#">#bleu</a> </p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="img/dieu.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Oeil de dieu</h5>
              <p class="card-text"><a href="#">#bleu</a> </p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="img/dieu.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Oeil de dieu</h5>
              <p class="card-text"><a href="#">#bleu</a> </p>
            </div>
          </div>
    </div>
</div>
<% include partials/footer %>