<% include partials/head %>

<div class="container container-front"> 
  <div class="carousel-container">
  <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
        <% if (locals.front) { %>
          <% i = 0; %>
          <% for (let index = 0; index < 5; index++) { %>
              <% if (locals.front[index] && locals.front[index].null != true) { %>
                <div class="carousel-item <% if(index == 0) { %>active<% } %>">
                  <a href="#expand"><img class="w-100" onclick="expand(this);" src="/api/front/image/<%= locals.front[index]._id %>" alt="<%= i %>slide"></a>
                  </div>
                  <% i = i + 1; %>
              <% } %>
          <% } %>
        <% } else { %>
          <div class="text-center m-5 p-5 bwhite" >
            <h1>Home page is under maintenance, please come back later</h1>
          </div>
        <% } %>
    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-thumb" role="button" data-slide="prev">
      <span><i class="fas fa-chevron-left fa-4x"></i></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-thumb" role="button" data-slide="next">
      <span><i class="fas fa-chevron-right fa-4x"></i></span>
      <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
  </div>

  </div>
  <div class="thumbnail-wrapper mt-5">
    <ol class="carousel-indicators">
        <% if (locals.front) { %>
          <% i = 0; %>
          <% for (let index = 0; index < 5; index++) { %>
              <% if (locals.front[index] && locals.front[index].null != true) { %>
                <li data-target="#carousel-thumb" data-slide-to="<%= i %>" <% if(index == 0) { %>class='active'<% } %>> 
                    <img class="d-block w-100" src="/api/front/image/<%= locals.front[index]._id %>" alt="..." class="img-fluid">
                </li>
                <% i = i + 1; %>
              <%  } %>
          <% } %>
        <% } %>
    </ol>
  </div>
</div>

<a class="lightbox-close" href="#close">
  <div class="lightbox-target" id="expand">
    <img id="expandImg" src=""/>
  </div>
</a>

<script src="/scripts/core/carousel-cycle.js"></script>
<% include partials/footer %>