<% include partials/head %>

<div class="container-fluid"> 
  <div class="login-form">
    <form id="login-form" method="POST" action="/api/auth/login">
      <h1 class="form-title">Se connecter</h1>
      <div class="txtb">
        <input type="email" name="email" value="<% if (locals.formData) { %><%= locals.formData.email %><% } %>" required>
        <span data-placeholder="Email"></span>
      </div>

      <div class="txtb">
        <input type="password" name="password" required>
        <span data-placeholder="Password"></span>
      </div>

      <input type="submit" class="logbtn" value="Log in" id="submit-login">

      <hr />
      <div class="bottom-text mt-4">
          <a href="/Lostpw">Mot de passe oublié?</a><br />
        Pas encore de compte? Créez en un <a href="/Register">ici</a>
      </div>
    </form>
  </div>

  <script src="/scripts/formFocus.js"></script>
</div>
  
<% include partials/footer %>