<% include partials/head %>

<div class="container-fluid"> 
    <form id="login-form" method="POST" action="/api/user/login" class="login-form">
        <h1 class="form-title">Se connecter</h1>
        
        <div class="txtb">
          <input type="email" name="email" required>
          <span data-placeholder="Email"></span>
        </div>

        <div class="txtb">
          <input type="password" name="password" required>
          <span data-placeholder="Password"></span>
        </div>

        <input type="submit" class="logbtn" value="Connexion" id="submit-login">

        <div class="bottom-text">
          Pas encore de compte? Créez en un <a href="#">ici</a>
        </div>
      </form>

      <script src="scripts/formFocus.js"></script>
</div>
  
<% include partials/footer %>