<% include partials/head %>

    

<div class="container-fluid"> 
    <form action="index.html" class="login-form">
        <h1 class="form-title">Se connecter</h1>

        <div class="txtb">
          <input type="text">
          <span data-placeholder="Username"></span>
        </div>

        <div class="txtb">
          <input type="password">
          <span data-placeholder="Password"></span>
        </div>

        <input type="submit" class="logbtn" value="Connexion">

        <div class="bottom-text">
          Pas encore de compte? Créez en un <a href="#">ici</a>
        </div>

      </form>

      <script type="text/javascript">
        $(".txtb input").on("focus",function(){
            $(this).addClass("focus");
        });

        $(".txtb input").on("blur",function(){
            if($(this).val() == "")
            $(this).removeClass("focus");
        });
      </script>

</div>
  
<% include partials/footer %>