<% include partials/head %>

<div class="container"> 
  <div class="form-container lostpw-form">
    <form id="lostpw" method="POST" action="/api/user/lostpw">
      <h1 class="form-title">Lost Password</h1>
      <div class="txtb">
        <input type="email" id="email" name="email" value="<% if (locals.email) { %><%= locals.email %><% } %>" onkeyup="Validate.Email(this);" required>
        <span data-placeholder="Email"></span>
        <span id="i_email" class="form-info">E-mail has to be valid</span>
      </div>

      <input type="submit" class="logbtn" value="Reset" id="submit-lostpw">

      <hr />
      <div class="bottom-text mt-4">
        Nous vous enverrons un <b>mail</b> pour réinitaliser votre mot de passe
      </div>
    </form>
  </div>

  <script src="/scripts/formFocus.js"></script>
  <script src="/scripts/frontValidation.js"></script>
</div>
  
<% include partials/footer %>