<% include partials/head %>
<div class="container full-container even">
	<h1 class="square-title text-center">Website is currently undergoing maintenance</h1>
	<div class="wrapper-404">
		<form method="POST" action="/plsauth">
			<input type="text" name="authlog" />
			<input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
			<input type="submit" />
		</form>
	</div>
	<% include partials/footer %>
</div>
