<% include partials/head %>

<div class="full-container full-container-one">
	<div class="container container-front">
		<form class="col-md-10 offset-md-1" id="resetpw" method="POST" action="/api/user/resetpw">
			<h2 class="square-title text-center mb-5">Reset your password</h2>

			<div class="row">
				<div class="col-md-6 offset-md-3">
					<label class="control-label">Password</label>
					<input placeholder="**********" type="password" id="password" name="password" data-vpw="true" required />
					<span id="i_password" class="form-info"><b>Password</b> must contain between <b>8 and 256 characters</b> and has to be atleast <b>alphanumeric</b></span>
				</div>
				<div class="col-md-6 offset-md-3">
					<label class="control-label">Password <i>(confirm)</i></label>
					<input placeholder="**********" type="password" id="password2" data-vpw2="true" name="password2" required />
					<span id="i_password2" class="form-info"><b>Password Confirmation</b> doesn't match <b>password</b></span>
				</div>
				<div class="col-md-6 offset-md-3 mt-3">
					<input type="submit" class="submit-btn" value="Save" id="submit-resetpw" />
				</div>
			</div>
			<input type="hidden" name="tokenId" value="<%= locals.tokenId %>" required />
			<input type="hidden" name="token" value="<%= locals.token %>" required />
			<input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
		</form>
	</div>
	<% include partials/footer %>
</div>

<script src="/scripts/core/frontValidation.js" defer></script>
