<% include partials/head %>

<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title">Add your Address</h2>
      <h6>*Make sure the informations you enter are correct, we will be using them for delivery</h6>
    </div>
    <form id="deliveryform" method="POST" action="/api/user/patch/delivery-info">
    <div class="panel-body">
      <input id="autocomplete" name="fulltext_address" placeholder="Enter your address" onFocus="geolocate()" type="text" class="form-control" required>
      <div id="address">
        <div class="row">
            <!--<div class="col-md-6">
            <label class="control-label">Street number</label>
            <input class="form-control" id="street_number" name="street_number" required>
          </div>-->
          <div class="col-md-12">
            <label class="control-label">Route</label>
            <input class="form-control" id="route" name="street_name" required>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label class="control-label">City</label>
            <input class="form-control field" id="locality" name="city" required>
          </div>
          <div class="col-md-6"> 
            <label class="control-label">State</label>
            <input class="form-control" id="administrative_area_level_1" name="state" required>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label class="control-label">Zip code</label>
            <input class="form-control" id="postal_code" name="postal_code" required>
          </div>
          <div class="col-md-6">
            <label class="control-label">Country</label>
            <input class="form-control" id="country" name="country" required>
          </div>
        </div>
      </div>
    </div>
    <br />
    <input type="submit" class="logbtn info-update-btn" value="Update" id="submit-deliveryform">
    </form>
  </div>
</div>

<div class="container">
  <div class="form-container info-update"><!--change class form id etc api url-->
    <h1 class="form-title">Paramètres</h1>

    <form id="nameform" method="POST" action="/api/user/patch/name">
      <div class="txtb">
        <input type="text" id="name" name="name" value="<% if (locals.name) { %><%= locals.name %><% } %>" onkeyup="Validate.String(this, 4, 30);" required>
        <span data-placeholder="Username"></span>
        <span id="i_name" class="form-info">Username must contain between 4 and 30 characters</span>
      </div>
      <input type="submit" class="logbtn info-update-btn" value="Update" id="submit-nameform">
    </form>

    <form id="emailform" method="POST" action="/api/user/patch/email">
      <div class="txtb">
        <input type="email" id="email" name="email" value="<% if (locals.email) { %><%= locals.email %><% } %>" onkeyup="Validate.Email(this);" required>
        <span data-placeholder="Email"></span>
        <span id="i_email" class="form-info">E-mail has to be valid</span>
        </div>
        <input type="submit" class="logbtn info-update-btn" value="Update" id="submit-emailform">
    </form>
        
    <form id="passwordform" method="POST" action="/api/user/patch/password">
      <div class="txtb">
        <input type="password" name="cpassword" required>
        <span data-placeholder="Current Password"></span>
      </div>
      <div class="txtb">
        <input type="password" id="password" name="password" onkeyup="Validate.Password(this);" required>
        <span data-placeholder="Password"></span>
        <span id="i_password" class="form-info">Password must contain between 8 and 256 characters and has to be atleast alphanumeric</span>
      </div>
      <div class="txtb">
        <input type="password" id="password2" name="password2" onkeyup="Validate.Password2(this);" required>
        <span data-placeholder="Confirm password"></span>
        <span id="i_password2" class="form-info">Password has to be the same as the one you just entered</span>
      </div>
      <input type="submit" class="logbtn info-update-btn" value="Update" id="submit-passwordform">
    </form>
  </div>
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBluorKuf7tdOULcDK08oZ-98Vw7_12TMI&libraries=places&callback=initAutocomplete" async defer></script>
<script src="scripts/auto-complete.js"></script>
<script src="/scripts/formFocus.js"></script>
<script src="/scripts/frontValidation.js"></script>
  
<% include partials/footer %>