body, html {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-image: linear-gradient(160deg,#93BEDF,#465775);
}

@media screen and (max-width: 1024px){
  .nav-links{
    /*width: 60%!important;*/
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links{
    width: 20%!important;
    position: absolute;
    right: 0px;
    height: 70vh;
    top: 15vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  nav {
    background-color: white!important;
  }
  nav .navbar-text {
    color: #93BEDF!important;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block!important;
  }
}

.form-info
{
    font-style: italic;
    color: #a87906;
    display: none;
}

nav {
  display: flex!important;
  justify-content: space-around;
  align-items: center;
  min-height: 15vh;
  transition: 0.3s ease;
}

nav:hover {
  background-color: white;
}

nav:hover .navbar-text {
  color: #93BEDF;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 0!important;
}

.nav-links li {
  list-style: none;
}
.nav-links li:hover {
  background-color: #eee;
}

.nav-links a {
  color: white;
  font-weight: 600;
}

.nav-links a:hover {
  text-decoration: none;
  border-bottom: 3px solid #465775;
  padding-bottom: 3px;
}

.name-header {
  font-family: 'Pacifico', cursive;
  font-size: 5em;
  color: white;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 5px;  
  background-color: #93BEDF;
  margin: 5px;
  transition: all 0.3s ease;
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px); 
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
  opacity: 0;
}

.toggle .line3{
  transform: rotate(45deg) translate(-8px, -9px);
}

.alert {
  width: 60%;
  margin: auto;
  text-align: center;
  margin: 10px auto 0 auto;
}

.container {
    margin-top: 1rem;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
}

.container-fluid {
  margin-top: 1rem;
}

.container-blog {
  display: block!important;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

.blog-title {
  font-family: 'Quicksand', sans-serif;
  font-size: 2.5em;
  font-weight: 600;
  color: #465775;
  margin: 0;
}

.blog-info {
}

.blog-author {
  color: #93BEDF;
}

.blog-date {

}

.blog-content {
}

.blog-title {
}

.blog-form {
  left: 25%!important;
}

#blog-textarea {
  width: 100%;
  min-height: 175px;
  padding: 15px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 3px 0px rgba(13, 143, 255, 0.75)
}

.carousel {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.carousel-container {
    margin-top: 1rem;
    position: relative;
    width: 60%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.carousel-item img {
    height: 500px; /*this needs to be changed to responsive */
}

/* FOOTER */

footer {
    /*position: absolute;
    bottom: 0;*/
    width: 100%;
    background-color: white;
    -webkit-box-shadow: 0px -1px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -1px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px -1px 10px 0px rgba(0,0,0,0.75);
}

.footer-links {
    text-align: center;
}

.footer-list {
    list-style-type: none;
    padding: 0;
}

.footer-list li {
    display: inline-block;
    margin: 0 10px 0 10px;
}

.footer-copyright {
    background-color: #cecece;
}

.footer-logo {
  width: 40px;
  height: 40px;
}

/* LOGIN FORM */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: montserrat;
    box-sizing: border-box;
  }
  
  .form-title {
    color: #465775;
  }

  .login-form{
    width: 360px;
    background: #f1f1f1;
    /*height: 500px;*/
    padding: 40px 40px;
    border-radius: 10px;
    position: relative;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
  }
  
  .login-form h1{
    text-align: center;
    margin-bottom: 40px;
  }

  .register-form h1{
    margin-bottom: 20px!important;
  }
  
  .txtb{
    border-bottom: 2px solid #adadad;
    position: relative;
    margin: 30px 0;
  }
  
  .txtb input{
    font-size: 15px;
    color: #333;
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 0 5px;
    height: 40px;
  }
  
  .txtb span::before{
    content: attr(data-placeholder);
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    z-index: -1;
    transition: .5s;
  }
  
  .txtb span::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0px;
    bottom: -5%;
    background: linear-gradient(160deg, #93BEDF,#465775);
    transition: .5s;
  }
  
  .focus + span::before{
    top: -5px;
  }
  .focus + span::after{
    width: 100%;
    left: 0px;
    bottom: -5%;
  }
  
  .logbtn{
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    background: linear-gradient(160deg,#3498db,#93BEDF,#465775);
    background-size: 200%;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: .5s;
  }

  .delbtn {
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    background: linear-gradient(160deg,#c10539,#de3f71,#a7012f);
    background-size: 200%;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: .5s;
  }
  
  .delbtn:hover{
    background-position: right!important;
  }

  .logbtn:hover{
    background-position: right;
  }
  
  .bottom-text{
    text-align: center;
    font-size: 13px;
  }
  
  .info-update {
    border: 1px solid #adadad;
    border-radius: 5px;
    /*position: relative;
    left: 50%;
    top: 40%;*/
    transform: translate(0%, 0%);
  }

  .large-navbar {
    width: 100%;
  }

  .small-navbar {
    display: none;
  }