body, html {
    height: 100%;
}

body {
   background-color: #191919!important;
}

nav {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
    font-family: 'Montserrat', sans-serif;
    transition: 0.4s;
}

nav:hover {
    background-color: white;
}

nav:hover .navbar-text {
    color: #93BEDF;
}

nav > div {
  
}

nav > div > ul {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav > div > ul > li  {
    display: inline-block;
    width: auto;
    padding: 0 3em 0 3em;
    transition: 0.3s;
}

nav > div > ul > li > a {
    color: white;
    font-weight: 600;
}

nav > div > ul > li > a:hover {
    text-decoration: none;
    border-bottom: 3px solid #465775;
    padding-bottom: 3px;
}
nav > div > ul > li:hover {
    background-color: #eee;
}

.name-header {
    font-family: 'Pacifico', cursive;
    font-size: 5em;
    color: white;
}

.container {
    background-color: #93BEDF;
    border-radius: 5px;
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
}