body {
    background-color: white!important;
}

.d-block{
   height: 500px;
}

.carousel-container {
    margin-top: 50px;
}

.showcase-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
}

.showcase-container > .showcase-item {
    background: #eee;
}

.showcase-container > .showcase-item:nth-child(odd) {
    background: #ddd;
}

.showcase-item {

}

.showcase-item-info {
    text-align: center;

}

.showcase-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}