<% include ../partials/head %>

<div class="container container-single">
	<div class="single-wrapper">
		<div class="col-md-10 offset-md-1 wrapper">
			<h1 class="single-title text-center">Changer l'image de la biographie</h1>
			<form id="shop" method="POST" action="/api/front/bio" enctype="multipart/form-data" onsubmit="postBio(event);">
				<hr />
				<img class="col-md-6 offset-md-3 mt-3 mb-3" src="/img/upload/biopic.png" />
				<div class="form-group text-center">
					<label for="img" id="imglabel" class="filebtn">Choisir une image</label>
					<input class="inputfile" type="file" name="img" id="img" onchange="readURL(this)" required />
				</div>

				<input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
				<input type="submit" class="logbtn" value="Valider" id="submit-shop" />
			</form>
		</div>
	</div>
</div>

<script src="scripts/blog/bio.js"></script>
<script src="/scripts/core/frontValidation.js"></script>
<% include ../partials/footer %>
