<% include ../partials/head %>

<div class="full-container">
	<div class="container">
		<div class="col-md-10 offset-md-1">
			<h1 class="square-title text-center">Changer l'image de la biographie</h1>
			<form id="bio" method="POST" action="/api/front/bio" enctype="multipart/form-data">
				<img alt="Biographie picture" class="col-md-6 offset-md-3 mt-3 mb-3" src="/img/upload/biopic.png" />
				<div class="form-group text-center">
					<label for="img" id="imglabel" class="filebtn">Choisir une image</label>
					<input class="inputfile" type="file" name="img" id="img" required />
				</div>

				<input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
				<input type="submit" class="submit-btn" value="Valider" id="submit-shop" />
			</form>
		</div>
	</div>
</div>

<script src="/scripts/blog/bio.js" defer></script>
<script src="/scripts/core/frontValidation.js" defer></script>
<% include ../partials/footer %>
