<% include ../partials/head %>

<div class="container container-single"> 
    <div class="single-wrapper col-8 offset-2">
        <h1 class="single-title">Rédiger un post de blog</h1>
        <form class="col-8 offset-2" id="blog" method="POST" action="/api/blog/" enctype="multipart/form-data">
            <hr /> 
            <div class="form-group">
                <label class="control-label">Titre</label>
                <input class="form-control" id="title" type="text" placeholder="Titre" name="title" onkeyup="Validate.String(this, 4, 256);" value="<% if (locals.formData) { %><%= locals.formData.title %><% } %>" required>
                <span id="i_title" class="form-info">Title must contain between 4 and 256 characters</span>
            </div>

            <!--<div class="form-group">
                <label class="control-label">Contenu</label>
                <textarea id="content" class="instructions-textarea" name="content" placeholder="Le contenu de votre ticket de blog..." onkeyup="Validate.String(this, 128, 4096);" required><% if (locals.formData) { %><%= locals.formData.content %><% } %></textarea>
                <span id="i_content" class="form-info">Content must contain between 128 and 4096 characters</span>
            </div>-->

            <div id="editor" style="background-color: white;"></div>
            <input type="hidden" name="content" id="editorData">

            <div class="form-group text-center">
                <label for="img" id="imglabel" class="filebtn">Choisir des images</label>
                <input class="inputfile" type="file" name="img" id="img" onchange="readURL(this)" multiple>
            </div>

            <input type="submit" class="logbtn" value="Valider" id="submit-blog">
        </form>
    </div>
</div>

<script>
    var toolbarOptions = [
        ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
        ['blockquote', 'code-block'],
        [{ 'list': 'ordered'}, { 'list': 'bullet' }],
        [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
        [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
        [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
        [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
        [{ 'font': [] }],
        [{ 'align': [] }],
        ['link', 'image'],
        ['clean']                                         // remove formatting button
    ];

    var quill = new Quill('#editor', {
        modules: {
            toolbar: toolbarOptions,
        },
        placeholder: "Your blog article...",
        theme: 'snow'
    });
    
    const saveButton = document.getElementById('submit-blog');
    const editorData = document.getElementById('editorData');

    saveButton.addEventListener('click', (event) => {
        editorData.value = quill.root.innerHTML;
    })
</script>
<script src="/scripts/frontValidation.js"></script>
  
<% include ../partials/footer %>