<% include ../partials/head %>

<div class="container"> 
    <div class="form-container gallery-form">
        <form id="shop" method="POST" action="/api/shop/post" enctype="multipart/form-data" onsubmit="postShop(event);">
            <h1 class="form-title">Ajouter un item à la boutique</h1>
                
            <div class="txtb">
                <input type="text" name="title" id="title" onkeyup="Validate.String(this, 1, 256);" required>
                <span data-placeholder="Title"></span>
                <span id="i_title" class="form-info">Title must contain between 1 and 256 characters</span>
            </div>

            <textarea class="blog-textarea" id="content" name="content" placeholder="Item description.." onkeyup="Validate.String(this, 1, 2048);" required></textarea>
            <span id="i_content" class="form-info">Content must contain between 1 and 2048 characters</span>  
        
            <div class="form-group">
                <input type="file" name="img" id="img" required>
            </div>
            
            <div class="form-group">
                <label>price</label>
                <input type="number" min="1" step="any" id="price" name="price" required>
            </div>
            <div class="form-group">
                <label>check if this is an unique item</label>
                <input type="checkbox" name="isUnique" id="isUnique">
            </div>

            <input type="submit" class="logbtn" value="Save" id="submit-shop">
        </form>
    </div>
    
    <script>
        async function postShop(e) {
            e.preventDefault();
            let title = $("#title").val(),
                content = $("#content").val(),
                price = $("#price").val(),
                isUnique = $("#isUnique").is(":checked"),
                img = document.querySelector('#img'),
                formData = new FormData();
            
            formData.append('img', img.files[0]);
            formData.append('title', title);
            formData.append('content', content);
            formData.append('price', price);
            formData.append('isUnique', isUnique);
            
            fetch('/api/shop/post', {
                method: 'post',
                mode: 'same-origin',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.err) {
                    let alert = `
                    <div id="alert" class="alert alert-warning" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        ${data.msg}
                    </div>`;
                    addAlert(alert, "#header")
                } else 
                    window.location.href = data.url                
            })
        }
    </script>
    <script src="/scripts/frontValidation.js"></script>
    <script src="/scripts/formFocus.js"></script>
</div>
  
<% include ../partials/footer %>