<% include ../partials/head %>

<div class="full-container" id="container-admin">
	<div class="container container-front">
		<div class="col-md-10 offset-md-1">
			<h1 class="square-title text-center">Ajouter à la boutique</h1>
			<form id="shop" method="POST" action="/api/shop/post" data-postshop="true" enctype="multipart/form-data">
				<div class="form-group">
					<label class="control-label">Titre</label>
					<input type="text" name="title" id="title" placeholder="Titre" data-vstring="1;256" required />
					<span id="i_title" class="form-info"><b>Title</b> must contain between <b>1 and 256 characters</b></span>
				</div>

				<div class="form-group">
					<label class="control-label">Description</label>
					<textarea rows="5" id="content" name="content" placeholder="Description de l'item..." data-vstring="1;4096" required></textarea>
					<span id="i_content" class="form-info"><b>Content</b> must contain between <b>1 and 4096 characters</b></span>
				</div>

				<div class="form-group">
					<label class="control-label">Prix</label>
					<input placeholder="35.50 (au centième d'euro près)" type="number" min="1" id="price" name="price" step=".01" required />
				</div>

				<div class="form-group text-center">
					<label for="img" id="imglabel" class="filebtn">Choisir des images</label>
					<input class="inputfile" type="file" name="img" id="img" multiple required />
				</div>

				<input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
				<input type="submit" class="submit-btn" value="Valider" id="submit-shop" />
			</form>
		</div>
	</div>
</div>

<script src="/scripts/shop/shopScripts.js" defer></script>
<script src="/scripts/core/frontValidation.js" defer></script>
<% include ../partials/footer %>
